<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<%= form_with url: search_posts_path, method: :post, format: :turbo_stream do |form| %>
  <%= form.search_field :title_search, oninput: "this.form.requestSubmit()" %>
<% end %>

<div id="search_results">
  <%= render "search_results", posts: @posts %>
</div>

<%= link_to "New post", new_post_path %>
